:root {
    background-color: aliceblue;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-size: 2rem;
    color: black;
    margin-bottom: 2rem;
    text-align: center;
    
}

h5 {
    font-size: 1rem;
    margin-bottom: 2rem;
}

button {
    padding: 2px;
    margin: 15px;
    cursor: pointer;
    font-size: 18px;
    background-color: purple;
    color: white;
    border-radius: 4px;
  }

.container {
    display: block;
    margin: 20px auto;
    text-align: center;
    transition: 0.3s;
    width: 60vw;
}
#questions {
    display:;
    max-width: 100%;
    background-color: aliceblue;
    text-align: center;
    align-items: center;
}

.hide {
    display: 
}

a {
    padding: 2px;
    cursor: pointer;
    font-size: 18px;
    background-color: aliceblue;
    color: purple;
    text-decoration: none;
    font-size: 15px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    float:left;
}
.countdown {
    text-decoration: none;
    list-style-type: none;
    display: inline;
    padding: 0px 50px;
    font-size: 15px;
    text-align: right;
    float:right;
}

.choice-btn {
    padding: 2px;
    margin: 15px;
    border-radius: 4px;
    display: block;
    align-items: center;
  }

.data-answer {
    align-items: center;
    text-align: center;
    display: block;
    max-width: 100%;
}

